<div class="row">
  <div class="col-sm-12">
    <div class="p-2 text-uppercase form-header-text">Subscriber Form</div>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-sm-12 col-md-10 offset-md-1">
    <form [formGroup]="form">
      <div class="card">
        <div class="card-body">
          <div class="form-row">
            <div class="form-group col-sm-12 col-md-6">
              <label>Phone Number</label>
              <input type="text" class="form-control" formControlName="phoneNumber"
                [class.is-invalid]="phoneNumber.dirty && phoneNumber.invalid">
              <div class="invalid-feedback" *ngIf="phoneNumber.dirty && phoneNumber.invalid">
                <div *ngIf="phoneNumber.errors.required">
                  This field is required
                </div>
                <div *ngIf="phoneNumber.errors.pattern">
                  Phone number must start with 0 and must be 10 digits long
                </div>
              </div>
            </div>

            <div class="form-group col-sm-12 col-md-6">
              <label>Name</label>
              <input type="text" class="form-control" formControlName="name"
                [class.is-invalid]="name.dirty && name.invalid">
              <div class="invalid-feedback" *ngIf="name.dirty && name.invalid">
                <div *ngIf="name.errors.required">
                  This field is required
                </div>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-sm-12 col-md-6">
              <label>Preferred Language</label>
              <select class="form-control" formControlName="languageId"
                [class.is-invalid]="languageId.dirty && languageId.invalid">
                <option *ngFor="let language of languages$ | async" [ngValue]="language.id">{{language.name}}</option>
              </select>
              <div class="invalid-feedback" *ngIf="languageId.dirty && languageId.invalid">
                <div *ngIf="languageId.errors.required">
                  This field is required
                </div>
              </div>
            </div>

            <div class="form-group col-sm-12 col-md-6">
              <label>Gender</label><br>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline1" class="custom-control-input" value="Male"
                  formControlName="gender">
                <label class="custom-control-label" for="customRadioInline1">Male</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline2" class="custom-control-input" value="Female"
                  formControlName="gender">
                <label class="custom-control-label" for="customRadioInline2">Female</label>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-sm-12 col-md-6">
              <label>Date of Birth</label>
              <input type="date" class="form-control" formControlName="dateOfBirth"
                [class.is-invalid]="dateOfBirth.dirty && dateOfBirth.invalid">
              <div class="invalid-msg" *ngIf="dateOfBirth.dirty && dateOfBirth.errors">
                This field is required
              </div>
            </div>

            <div class="form-group col-sm-12 col-md-6">
              <label>Highest Education Level</label>
              <select class="form-control" formControlName="educationLevelId"
                [class.is-invalid]="educationLevelId.dirty && educationLevelId.invalid">
                <option *ngFor="let educationLevel of educationalLevels$ | async" [ngValue]="educationLevel.id">{{educationLevel.name}}</option>
              </select>
              <div class="invalid-feedback" *ngIf="educationLevelId.dirty && educationLevelId.invalid">
                <div *ngIf="educationLevelId.errors.required">
                  This field is required
                </div>
              </div>
            </div>
          </div>
          <hr>

          <div class="form-row">
            <div class="form-group col-sm-12 col-md-6">
              <label>Region</label>
              <ng-select [items]="regions$ | async" bindLabel="name" bindValue="id" placeholder="Select Region"
                [clearable]="false" formControlName="regionId"
                [class.invalid-input]="regionId.dirty && regionId.invalid"></ng-select>
              <div class="invalid-msg" *ngIf="regionId.dirty && regionId.errors">
                This field is required
              </div>
            </div>

            <div class="form-group col-sm-12 col-md-6">
              <label>District</label>
              <ng-select [items]="districts$ | async" bindLabel="name" bindValue="id" placeholder="Select District"
                [clearable]="false" formControlName="districtId"
                [class.invalid-input]="districtId.dirty && districtId.invalid"></ng-select>
              <div class="invalid-msg" *ngIf="districtId.dirty && districtId.errors">
                This field is required
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-sm-12 col-md-6">
              <label>Town</label>
              <input type="text" class="form-control" formControlName="location"
                [class.is-invalid]="location.dirty && location.invalid">
              <div class="invalid-feedback" *ngIf="location.dirty && location.invalid">
                <div *ngIf="location.errors.required">
                  This field is required
                </div>
              </div>
            </div>
          </div>
          <hr>

          <div class="form-row">
            <div class="form-group col-sm-12 col-md-6">
              <label>Subscriber Type</label>
              <ng-select [items]="subscriberTypes$ | async" bindLabel="name" bindValue="id" placeholder="Select Subscriber Type"
                [clearable]="false" formControlName="subscriberTypeId"
                [class.invalid-input]="subscriberTypeId.dirty && subscriberTypeId.invalid"></ng-select>
              <div class="invalid-msg" *ngIf="subscriberTypeId.dirty && subscriberTypeId.errors">
                This field is required
              </div>
            </div>

            <div class="form-group col-sm-12 col-md-6">
              <label>Primary Commodity</label>
              <ng-select [items]="commodities$ | async" bindLabel="name" bindValue="id" placeholder="Select Primary Commodity"
                [clearable]="false" formControlName="primaryCommodity"
                [class.invalid-input]="primaryCommodity.dirty && primaryCommodity.invalid"></ng-select>
              <div class="invalid-msg" *ngIf="primaryCommodity.dirty && primaryCommodity.errors">
                This field is required
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-sm-12 col-md-6">
              <label>Other Commodities</label>
              <ng-select [items]="commodities$ | async" bindLabel="name" bindValue="id" placeholder="Select Other Commodities"
                [clearable]="false" [multiple]="true" formControlName="otherCommodities"
                [class.is-invalid]="otherCommodities.dirty && otherCommodities.invalid"></ng-select>
              <!-- <div class="invalid-feedback" *ngIf="otherCommodities.dirty && otherCommodities.invalid">
                <div *ngIf="otherCommodities.errors.required">
                  This field is required
                </div>
              </div> -->
            </div>

            <div class="form-group col-sm-12 col-md-6">
              <label>Land Size</label>
              <input type="number" class="form-control" min="0" formControlName="landSize"
                [class.is-invalid]="landSize.dirty && landSize.invalid">
              <div class="invalid-feedback" *ngIf="landSize.dirty && landSize.invalid">
                <div *ngIf="landSize.errors.required">
                  This field is required
                </div>
              </div>
            </div>
          </div>
          <hr>

          <div class="form-row">
            <div class="form-group col-sm-12 col-md-6">
              <label>Start Date</label>
              <input type="date" class="form-control" formControlName="startDate"
                [class.is-invalid]="startDate.dirty && startDate.invalid">
              <div class="invalid-feedback" *ngIf="startDate.dirty && startDate.invalid">
                <div *ngIf="startDate.errors.required">
                  This field is required
                </div>
              </div>
            </div>

            <div class="form-group col-sm-12 col-md-6">
              <label>Receive</label><br>
              <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" id="customcheckboxInline1" name="customcheckboxInline1"
                  class="custom-control-input" formControlName="voice">
                <label class="custom-control-label" for="customcheckboxInline1">Voice</label>
              </div>
              <!-- <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" id="customcheckboxInline2" name="customcheckboxInline1"
                  class="custom-control-input" formControlName="sms">
                <label class="custom-control-label" for="customcheckboxInline2">SMS</label>
              </div> -->
            </div>
          </div>

          <div class="form-row">
            <!-- <div class="form-group col-sm-12 col-md-6">
              <label>Comments</label>
              <input type="text" class="form-control" formControlName="comments">
            </div> -->

            <div class="form-group col-sm-12">
              <label>Subscriber Group</label>
              <ng-select [items]="groups$ | async" bindLabel="name" bindValue="id" placeholder="Select Subscriber Group"
                [clearable]="false" [multiple]="true" formControlName="subscriberGroups"
                [class.is-invalid]="subscriberGroups.dirty && subscriberGroups.invalid"></ng-select>
              <!-- <div class="invalid-feedback" *ngIf="subscriberGroups.dirty && subscriberGroups.errors">
                  This field is required
                </div> -->
            </div>
          </div>

          <div>
            <button type="submit" class="btn btn-primary-custom border border-dark float-right" [validate-form]="form"
              (valid)="save(form.value)">
              <i class="fa fa-save"></i> Save
            </button>
            <button type="button" class="btn float-right" (click)="closeForm()">
              <i class="fa fa-close"></i> Cancel
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>