.diagramsPanel {
    width:100%;
    white-space:nowrap;
  }
  
  .diagramDiv {
    height: 1000px;
  }
  
  .paletteDiv {
    
  }

.tree-sidebar{
  background-color: #eee;
  border-left: 0px;
  padding-top: 54px;
  height: 100%;
}