<page-header title="Tree Studio">
	Tree Builder
</page-header>
<div class="page-content">
	<div class="container-fluid">
		<div class="card">
			<div class="card-header">
				<div class="btn-group float-left" role="group">
					<button class="btn btn-light active btn-sm text-dark border rounded" type="button" style="margin-right: 3px;">Tree View</button>
					<button class="btn btn-light btn-sm text-dark border rounded" type="button" style="margin-right: 10px;">Resource View</button>
				</div>
				<button class="btn btn-light btn-sm text-dark border rounded float-left" type="button" style="margin-right: 5px;">Edit Tree</button>
				<button class="btn btn-light btn-sm text-dark border rounded float-left" type="button" style="margin-right: 5px;"><i class="fa fa-copy"></i></button>
				<div class="dropdown">
					<button class="btn btn-light btn-sm dropdown-toggle text-dark border rounded float-left" data-toggle="dropdown" aria-expanded="false" type="button" style="margin-right: 5px;">Add Block&nbsp;</button>
					<div class="dropdown-menu multi-level" role="menu">
						<a class="dropdown-item" role="presentation" (click)="addMessage()">Message</a>
						<div class="dropdown-divider" role="presentation"></div>
						<a class="dropdown-item" role="presentation"  (click)="addMessage()">Multiple Choice Question</a>
						<a class="dropdown-item" role="presentation"  (click)="addMessage()">Numeric Question</a>
						<a class="dropdown-item dropdown-submenu" role="presentation"  (click)="addMessage()">Open-ended Question</a>
						<div class="dropdown-divider" role="presentation"></div>
					</div>
				</div>
				<button class="btn btn-light btn-sm text-dark border rounded float-left" type="button" style="margin-right: 5px;">Duplicate</button>
				<button class="btn btn-light btn-sm text-dark border rounded float-left" type="button" style="margin-right: 3px;">Delete</button>
				<div class="btn-group btn-group-sm float-right" role="group">
					<button class="btn btn-primary btn-sm" type="button" (click)="saveTree()">Save</button>
					<button class="btn btn-success btn-sm" type="button" (click)="loadTree()">Load</button>
				</div>
			</div>
			<div class="card-body">
				<div class="row">
					<div #diagramDiv class="col-9 diagramDiv border"></div>
					<div #sidebar class="col-3 tree-sidebar border">
						<!--Main Form-->
						<div class="card" style="padding: 20px; margin-bottom: 20px; margin-top: -30px">
							<form>
								<div class="d-block">
									<!-- NODE SPECIFIC PROPERTIES -->
									<!-- Tree Form -->
									<div id="tree" *ngIf="treeForm">
									  <h3 class="d-flex">Tree Details</h3>
									  <div class="form-group" style="margin-top: 25px;">
									    <label><strong>Title</strong></label>
									    <input class="form-control" type="text" [(ngModel)]="tree.title" name="tree.name" >
									  </div>
									  <div class="form-group" style="margin-top: 25px;">
									    <label><strong>Description</strong></label>
									    <textarea class="border rounded form-control" [(ngModel)]="tree.description" name="tree.description" ></textarea>
									  </div>
									  <div class="form-group" >
									  	<label class="d-block"><strong>Default Language</strong></label>
									  	<select class="form-control" 
									    	[(ngModel)] = "tree.languageId" name="tree.languageId">
								        <option *ngFor="let language of languages" value={{language.id}}>
								            {{language.name}}
								        </option>
								    	</select>
									  </div>
									  <div class="form-group">
									  	<div class="custom-control custom-checkbox custom-control-inline">
									  		<input class="custom-control-input" 
									  			[(ngModel)]="tree.hasVoice" 
									  			formcontrolname="tree.hasVoice" id="tree.hasVoice" name="tree.hasVoice"
									  			type="checkbox" >
									  		<label class="custom-control-label" for="tree.hasVoice"><strong>Has Voice</strong></label>
									  	</div>
									  </div>
									  <div class="form-group">
									  	<div class="custom-control custom-checkbox custom-control-inline">
									  		<input class="custom-control-input" 
									  			[(ngModel)]="tree.hasSms" 
									  			formcontrolname="tree.hasSms" id="tree.hasSms" name="tree.hasSms"
									  			type="checkbox">
									  		<label class="custom-control-label" for="tree.hasSms"><strong>Has SMS</strong></label>
									  	</div>
									  </div>
									</div>

									<!-- Message -->
									<div id="message" *ngIf="messageForm">
									  <h3 class="d-flex">Edit Message</h3>
									  <div class="form-group" style="margin-top: 25px;">
									    <label><strong>Message Title</strong></label>
									    <textarea class="border rounded form-control"  
									    	[(ngModel)]="currentNode.custom.title" name="currentNode.custom.title"
									    	(ngModelChange)="updateMessageTitle()"></textarea>
									  </div>
									  <div class="form-group">
									  	<div class="custom-control custom-checkbox custom-control-inline">
									  		<input class="custom-control-input" 
									  			[(ngModel)]="currentNode.custom.repeat" 
									  			formcontrolname="currentNode.custom.repeat" id="currentNode.custom.repeat" name="currentNode.custom.repeat" type="checkbox">
									  		<label class="custom-control-label" for="currentNode.custom.repeat"><strong>Let users repeat this message</strong></label>
									  	</div>
									  </div>
									  <div *ngIf="currentNode.custom.repeat">
									  	<a class="text-muted" href="">
										    <br>For the best user experience, please provide an audio prompt that says,&nbsp;
										    <em>"If you'd like to repeat this message, please press 2 now."</em>
										  </a>
										  <div class="form-group" ><label class="d-block"><strong>Default Repeat Key</strong></label>
										  	<select style="width: 50px;" class="form-control" 
										    	[(ngModel)] = "currentNode.custom.repeatKey"
										    	name="currentNode.custom.repeatKey">
									        <option *ngFor="let key of phoneKeys" value={{key}}>
									            {{key}}
									        </option>
									    	</select>
										  </div>
										  <div class="form-group">
										    <label class="d-block"><strong>Delay To Enter Repeat Key</strong></label>
										    <select style="width: 50px;" class="form-control" 
										    	[(ngModel)] = "currentNode.custom.repeatDelay"
										    	name="currentNode.custom.repeatDelay">
									        <option *ngFor="let key of repeatDelay" value={{key}}>
									            {{key}}
									        </option>
									    	</select>
										    <label style="margin-left: 5px;">seconds</label>
										  </div>
										  <div class="form-group">
										  	<label class="d-block"><strong>Maximum Number of Repeats</strong></label>
										    <select style="width: 50px;" class="form-control" 
										    	[(ngModel)] = "currentNode.custom.repeatMax"
										    	name="currentNode.custom.repeatMax">
									        <option *ngFor="let key of repeatNumber" value={{key}}>
									            {{key}}
									        </option>
									    	</select>
									  	</div>
									  </div>
									</div>

									<!-- MultiChoice -->
									<div id="multichoice" *ngIf="multiForm"> 
										<h3 class="d-flex">Edit multiple-choice question</h3>
										<div class="form-group"><label><strong>Question Title</strong></label>
											<textarea class="border rounded form-control"></textarea>
										</div>
										<div class="form-group">
											<label><strong>Choices</strong></label>
											<div class="input-group">
												<div class="input-group-prepend"><span class="input-group-text">1</span></div>
												<input class="form-control" type="text"></div>
											</div>
											<div class="form-group">
												<label class="d-block"><strong>Choices Options</strong></label>
												<button class="btn btn-info btn-block btn-sm" type="button">Set choice options</button>
											</div>
											<div class="form-group">
												<label class="d-block"><strong>Output Branching</strong></label>
												<div class="btn-group" role="group">
													<button class="btn btn-secondary" type="button"><i class="fas fa-sitemap"></i></button><button class="btn btn-secondary" type="button" style="min-width: 46px;"><i class="fas fa-code-branch"></i></button>
												</div>
											</div>
											<div class="form-group">
												<label class="d-block"><strong>When no valid response is received</strong></label>
												<div class="custom-control custom-radio">
													<input class="custom-control-input" type="radio" id="formCheck1" name="customRadio">
													<label class="custom-control-label" for="formCheck1">End the call/session</label>
												</div>
												<div class="custom-control custom-radio">
													<input class="custom-control-input" type="radio" name="customRadio" id="formCheck2">
													<label class="custom-control-label" for="formCheck2">Continue through Exit</label>
												</div>
											</div>
											<div class="form-group">
												<label class="d-block"><strong>Repeat Questions</strong></label>
												<input class="form-control form-control-sm d-inline" type="text" style="max-width: 70px;">
												<label style="margin-left: 5px;">times for incorrect responses</label>
											</div>
											<div class="form-group">
												<label class="d-block"><strong>Repeat Timeout</strong></label>
												<label style="margin-right: 5px;">Wait</label>
												<input class="form-control form-control-sm d-inline" type="text" style="max-width: 70px;">
												<label style="margin-left: 5px;">times for incorrect responses</label>
											</div>
									</div>

									<!-- STANDAR BLOCK PROPERTIES -->
									<div id="STANDARD" *ngIf="!treeForm">
										<div class="card inner-card">
											<div class="card-header inner-card">
												<h5>Twi</h5>
												<p style="font-size: 14px;">Voice Content</p>
												<ul class="nav nav-tabs card-header-tabs">
													<li class="nav-item"><a class="nav-link active" href="#">Library</a></li>
													<li class="nav-item"><a class="nav-link" href="#">Phone recording</a></li>
												</ul>
											</div>
											<div class="card-body inner-card" style="max-height: 250px;">
												<h6 class="card-title">Upload</h6>
												<div class="input-group" style="height: 35;">
													<div class="input-group-prepend">
														<div class="dropdown btn-group" role="group">
															<button class="btn btn-secondary dropdown-toggle buttonappend" data-toggle="dropdown" aria-expanded="false" type="button">
																<i class="fa fa-search" style="margin-right: 5px;"></i>
															</button>
															<div class="dropdown-menu" role="menu">
																<a class="dropdown-item" role="presentation" href="#">First Item</a>
																<a class="dropdown-item" role="presentation" href="#">Second Item</a>
																<a class="dropdown-item" role="presentation" href="#">Third Item</a>
															</div>
														</div>
													</div>
													<input class="form-control" type="text">
												</div>
												<div class="form-group" style="margin-top: 20px;">
													<label style="font-size: 14px;">SMS Content</label>
													<textarea class="border rounded form-control"></textarea>
													<label style="font-size: 12px;">39 characters</label>
													<button class="btn btn-success active btn-sm float-right d-xl-flex" type="button" style="max-height: 30px;font-size: 12px;margin-top: 5px;" data-toggle="button">
														<i class="fa fa-exchange" style="font-size: 16px;margin-right: 5px;"></i>Auto
													</button>
												</div>
											</div>
										</div>
										<div class="form-group">
											<p style="margin-bottom: 5px;margin-top: 15px;"><strong>Social Messaging Content</strong></p>
											<div class="custom-control custom-checkbox">
												<input class="custom-control-input" type="checkbox" id="formCheck-1">
												<label class="custom-control-label" for="formCheck-1">Attach multimedia</label>
											</div>
										</div>
										<div class="form-group" style="margin-top: 10px;"><label><strong>Twi</strong></label>
											<textarea class="border rounded form-control"></textarea>
											<label style="font-size: 12px;margin-top: 5px;">39 characters</label>
											<button class="btn btn-success active btn-sm float-right d-xl-flex" type="button" style="max-height: 30px;font-size: 12px;margin-top: 5px;" data-toggle="button">
												<i class="fa fa-exchange" style="font-size: 16px;margin-right: 5px;"></i>Auto
											</button>
										</div>
										<div class="form-group">
											<p style="margin-bottom: 5px;margin-top: 15px;">
												<strong>Categorization</strong>
											</p>
											<a class="d-block" href="#" style="font-size: 14px;">Add label / tags ...</a>
										</div>
										<div class="form-group">
											<label class="d-block" style="font-size: 14px;"><strong>Label</strong></label>
											<input class="form-control" type="text">
											<label class="d-block" style="font-size: 14px;margin-top:10px;"><strong>Tags</strong></label>
											<div class="dropdown">
												<button class="btn btn-secondary btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button">Select or add a tag &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</button>
													<div class="dropdown-menu" role="menu">
														<a class="dropdown-item" role="presentation" href="#">First Item</a>
														<a class="dropdown-item" role="presentation" href="#">Second Item</a>
														<a class="dropdown-item" role="presentation" href="#">Third Item</a>
													</div>
											</div>
										</div>
										<div class="form-group">
											<p style="margin-bottom: 5px;margin-top: 15px;"><strong>Options</strong></p>
											<button class="btn btn-secondary btn-sm" type="button">Set as starting block</button>
										</div>
										<div class="form-group">
											<p style="margin-bottom: 5px;margin-top: 15px;"><strong>Subscriber Properties</strong></p>
											<div class="custom-control custom-checkbox">
												<input class="custom-control-input" type="checkbox" id="formCheck-1">
												<label class="custom-control-label" for="formCheck-1">Set as a subscriber property with the subscriber's<br>response<br></label>
											</div>
										</div>
										<div class="form-group">
											<p style="margin-bottom: 5px;margin-top: 15px;"><strong>Summary</strong></p>
									  	<div class="custom-control custom-checkbox custom-control-inline">
									  		<input class="custom-control-input" 
									  			[(ngModel)]="tree.hasVoice" 
									  			formcontrolname="tree.hasVoice" id="tree.hasVoice" name="tree.hasVoice"
									  			type="checkbox" >
									  		<label class="custom-control-label" for="formCheck-1">Include in summary<br></label>
									  	</div>
									  </div>
										<div class="form-group">
											<p style="margin-bottom: 5px;margin-top: 15px;"><strong>Summary</strong></p>
											<div class="custom-control custom-checkbox">
												<input class="custom-control-input" type="checkbox" id="formCheck-1">
												<label class="custom-control-label" for="formCheck-1">Include in summary<br></label>
											</div>
										</div>
									</div>
								</div>
							</form>
						</div>
						<!-- Message -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
