<div class="row">
  <div class="col-sm-12">
    <button type="button" class="btn btn-primary-custom border border-dark float-right" routerLink="form">New Outbound Campaign</button>
  </div>
</div>
<hr>

<div class="row">
  <div class="col">
    <div class="card">
      <div class="table-responsive-sm">
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Title</th>
              <th>Campaign Area</th>
              <th>Start Date</th>
              <th>End Date</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let campaign of campaigns$ | async; let i = index">
              <td>{{i + 1}}.</td>
              <td>{{campaign.title}}</td>
              <td>{{campaign.area.name}}</td>
              <td>{{campaign.startDate | date:'mediumDate'}}</td>
              <td>{{campaign.endDate | date:'mediumDate'}}</td>
              <td>
                <a class="pointer" (click)="editForm(campaign.id)" title="Edit"><i class="fa fa-edit"></i></a> &nbsp;
                <a class="pointer" (click)="gotoSchedule(campaign.id)" title="Schedule"><i class="fa fa-clock-o"></i></a> &nbsp;
                <a class="pointer" (click)="delete(campaign.id)" title="Delete"><i class="fa fa-trash"></i></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>