<div class="wrapper">
  <nav class="sidebar" *ngIf="authenticated" #sidebar>
    <div class="logo text-center mb-4">
      <img class="img-fluid image" src="../assets/images/logo.png">
      <div><small>{{version}}</small></div>
    </div>
    <ul class="nav flex-column flex-nowrap">
      <li class="nav-item" *ngFor="let menu of menus" routerLinkActive="active">
        <a class="nav-link" routerLink="{{menu.route}}">
          <i [ngClass]="menu.icon"></i> {{menu.label}}
        </a>
      </li>
      <li class="nav-item pointer">
        <a class="nav-link" (click)="doLogout()">
          <i class="fa fa-sign-out fa-lg"></i> Logout
        </a>
      </li>
    </ul>
    <div class="text-center mt-5">
      <img src="../assets/images/icons.png" style="width: 150px; height: 55px;">
    </div>
  </nav>

  <main class="main-content" #content>
    <router-outlet></router-outlet>
  </main>

  <div class="overlay" #overlay></div>
</div>