<div class="row mx-5">
    <div class="col-sm-8">
        <div class="p-2 text-uppercase form-header-text">Import Subscribers</div>
    </div>
    <div class="col-sm-4">
        <button type="button" class="btn border border-dark pull-right" (click)="downloadTemplate()" style="background-color: #2fb1ec; color: white;">Download Template</button>
    </div>
</div><br>

<div class="alert alert-primary mx-3" role="alert">
    <h6 class="alert-heading text-uppercase"><u>Instructions</u></h6>
    <div class="ml-2">
        <ol>
            <li>
                Upload an Excel spreadsheet <b>(.xlsx)</b> containing data in the template file that was downloaded. (<a (click)="downloadTemplate()">Download Template</a>>)<br>
                <em>Only columns that are specified in the provided template will be uploaded. The supported columns are CODE, NAME, PHONE_NUMBER, GENDER, DATE_OF_BIRTH, LOCATION, START_DATE, VOICE, SMS, LAND_SIZE, LANGUAGE, DISTRICT, EDUCATIONAL_LEVEL, SUBSCRIBER_TYPE, SUBSCRIBER_GROUP_ (1 - 5), SUBSCRIBER_PRIMARY_COMMODITY, SUBSCRIBER_COMMODITY_ (2 - 5) and PROGRAM  </em><br>
                <em>For some columns, you will have to select an option from the options list that will be provided for those columns.</em>
            </li>
            <li>
                To upload a file, click on the browse to slect the filled template file and then click on the Upload button to upload the data.
            </li>
            <li>
                If there are errors in the file, the system will prompt you and the upload file will be rejected.
            </li>
        </ol>
    </div>
</div>
<hr>

<div class="row mx-3">
    <div class="col-4">
        <div class="custom-file">
            <input type="file" class="custom-file-input" accept=".xlsx" (change)="selectFile($event)">
            <label class="custom-file-label"> {{filename || 'Choose file'}}</label>
        </div>
        <!--<label class="text-primary" *ngIf="filename">Filename: {{filename}}</label>-->
    </div>
    <div class="col-8">
        <button type="button" class="btn btn-primary-custom border border-dark" (click)="upload()" [disabled]="!file">Upload File</button>
    </div>
</div>

<!--<div class="ml-5 pl-3 mt-2">
    <label class="text-primary" *ngIf="filename">Filename: {{filename}}</label>
</div>-->

<!--<div class="row">
    <div class="col">
        <div class="card">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Code</th>
                            <th>Name</th>
                            <th>Phone</th>
                            <th>DOB</th>
                            <th>Gender</th>
                            <th>Location</th>
                            <th>Start Date</th>
                            <th>Voice</th>
                            <th>SMS</th>
                            <th>Land Size</th>
                            <th>Language</th>
                            <th>District</th>
                            <th>Educational Level</th>
                            <th>Type</th>
                            <th>Program</th>
                            <th>Group 1</th>
                            <th>Group 2</th>
                            <th>Group 3</th>
                            <th>Group 4</th>
                            <th>Group 5</th>
                            <th>Primary Commodity</th>
                            <th>Commodity 2</th>
                            <th>Commodity 3</th>
                            <th>Commodity 4</th>
                            <th>Commodity 5</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let d of data; let i = index">
                            <td>{{i + 1}}</td>
                            <td>{{d.code}}</td>
                            <td>{{d.name}}</td>
                            <td>{{d.phoneNumber}}</td>
                            <td>{{d.dateOfBirth | date:'mediumDate'}}</td>
                            <td>{{d.gender}}</td>
                            <td>{{d.location}}</td>
                            <td>{{d.startDate | date:'mediumDate'}}</td>
                            <td>{{d.voice}}</td>
                            <td>{{d.sms}}</td>
                            <td>{{d.landSize}}</td>
                            <td>{{d.language}}</td>
                            <td>{{d.district}}</td>
                            <td>{{d.educationalLevel}}</td>
                            <td>{{d.type}}</td>
                            <td>{{d.program}}</td>
                            <td>{{d.group1}}</td>
                            <td>{{d.group2}}</td>
                            <td>{{d.group3}}</td>
                            <td>{{d.group4}}</td>
                            <td>{{d.group5}}</td>
                            <td>{{d.primaryCommodity}}</td>
                            <td>{{d.commodity2}}</td>
                            <td>{{d.commodity3}}</td>
                            <td>{{d.commodity4}}</td>
                            <td>{{d.commodity5}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-primary-custom border border-dark pull-right" (click)="saveUploadData()">Save Data</button>
            </div>
        </div>

    </div>
</div>-->