.header-content {
    padding: 0.3rem 1rem;
}

.title {
    text-transform: uppercase;
    border-bottom: solid 3px #c9a730;
    border-right: solid 1px #ddd;
}

.fixed-height {
    height: 79vh;
    overflow: auto;
}