<page-header title="Tree Builder"></page-header>
<div class="page-content">
  <div class="row mb-4">
      <div class="col-sm-12">
          <button type="button" class="btn btn-primary-custom" routerLink="studio">
              <i class="fa fa-plus left"></i> New Questionnaire</button>
      </div>
  </div>
  <div class="col-sm-12">
    <div class="card">
        <div class="table-responsive-sm">
            <table class="table table-hover">
                <thead class="thead-light">
                    <tr>
                        <th class="table-index">#</th>
                        <th>Title</th>
                        <th></th>
                        <th>Campaign</th>
                        <th>User</th>
                        <th>Last Modified</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users$ | async; let i = index" class="pointer" (click)="selectRow(tree)">
                        <td class="table-index">{{i + 1}}.</td>
                        <td>{{tree.title}}</td>
                        <td></td>
                        <td>{{tree.campaign}}</td>
                        <td>{{tree.user.name}}</td>
                        <td>{{tree.modifiedDate}}</td>
                        <td>
                          
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
  </div>
</div>