<div class="row">
  <div class="col-sm-12">
    <button type="button" class="btn btn-primary-custom border border-dark float-right" routerLink="form">New Campaign Schedule</button>
  </div>
</div>
<hr>

<div class="row">
  <div class="col">
    <div class="card">
      <div class="table-responsive-sm">
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Pillar</th>
              <th>Topic</th>
              <th>Tree</th>
              <th>Recipient Type</th>
              <th>Schedule Type</th>
              <th>Start Date</th>
              <th>End Date</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let schedule of campaignSchedules$ | async; let i = index">
              <td>{{i + 1}}.</td>
              <td>{{schedule.pillar.name}}</td>
              <td>{{schedule.topic.name}}</td>
              <td>{{schedule.tree.title}}</td>
              <td>{{schedule.recipientType}}</td>
              <td>{{schedule.scheduleType}}</td>
              <td>{{schedule.startDate | date:'mediumDate'}}</td>
              <td>{{schedule.endDate | date:'mediumDate'}}</td>
              <td>
                <a class="pointer" (click)="editForm(schedule.id)" title="Edit"><i class="fa fa-edit"></i></a> &nbsp;
                <a class="pointer" (click)="delete(schedule.id)" title="Delete"><i class="fa fa-trash"></i></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>