<div class="row">
    <div class="col-sm-12">
        <div class="p-2 text-uppercase form-header-text">Tree Details</div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-sm-12 col-md-8 offset-md-2">
        <div class="card">
            <div class="card-header">
                <div class="p-2 text-uppercase form-header-text">Tree Details</div>
            </div>
            <div class="card-body">
                <div class="form-row">
                    <div class="form-group col-sm-12 col-md-12">
                        <label>Code:</label>
                        <input type="text" class="form-control" [(ngModel)]="data.code" disabled>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-sm-12 col-md-8">
                        <label>Title:</label>
                        <input type="text" class="form-control" [(ngModel)]="data.title" disabled>
                    </div>
                    <div class="form-group col-sm-12 col-md-4">
                        <label>Language:</label>
                        <input type="text" class="form-control" [(ngModel)]="data.language" disabled>
                    </div>
                    <div class="form-group col-sm-12 col-md-12">
                        <label>Description</label>
                        <textarea class="form-control" [(ngModel)]="data.description" rows="3" disabled></textarea>
                    </div>
                    <div class="form-group col-sm-12 col-md-12">
                        <label>Tags:</label>
                        <input type="text" class="form-control" [(ngModel)]="data.tags" disabled>
                    </div>
                </div>
            </div>
            <div class="card-footer clearfix">
                <button class="btn btn-primary border border-dark" (click)="activate()" *ngIf="data.status == 'InActive'">
                                <i class="fa fa-edit"></i> Activate
                              </button>
                <button type="button" class="btn border border-dark btn-danger" (click)="deactivate()" *ngIf="data.status == 'Active'">
                                <i class="fa fa-ban"></i> Deactivate
                              </button>
                <span>
                        <button class="btn btn-primary border border-dark float-right" (click)="openStudio()"  *ngIf="data.status == 'Active'">
                                <i class="fa fa-tree"></i> Edit Nodes
                              </button>
                <button class="btn btn-success border border-dark float-right" (click)="editForm()"  *ngIf="data.status == 'Active'">
                                <i class="fa fa-edit"></i> Update
                              </button>
                <button type="button" class="btn float-right border border-dark btn-danger" (click)="delete()">
                                <i class="fa fa-ban"></i> Delete
                              </button>
                            </span>
            </div>
        </div>
    </div>
</div>