<div class="row">
    <div class="col-sm-4">
        <div class="input-group" style="max-width: 300px;">
            <input type="text" class="form-control" placeholder="Search by Title" [(ngModel)]="lastFilter.title" (keyup.enter)="getMedia(lastFilter)">
            <div class="input-group-append">
                <button type="button" class="btn btn-outline-secondary" (click)="getMedia(lastFilter)" style="margin-right: 0px;"><i class="fa fa-search"></i></button>
                <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-right: 0px;">
                                            <span class="sr-only">Toggle Dropdown</span>
                                          </button>
                <div class="dropdown-menu" style="padding: 10px" (click)="$event.stopPropagation()">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Code" [(ngModel)]="lastFilter.code">
                    </div>
                    <div class="form-group">
                        <select class="form-control" [(ngModel)]="lastFilter.languageId" placeholder="Language">
                                                        <option *ngFor="let language of languages$ | async" [ngValue]="language.id">{{language.name}}</option>
                                                      </select>
                    </div>
                    <div class="form-group">
                        <select class="form-control" [(ngModel)]="lastFilter.type" placeholder="Type">
                                                            <option *ngFor="let t of types" [ngValue]="t">{{t}}</option>
                                                          </select>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Description" [(ngModel)]="lastFilter.description">
                    </div>
                    <div>
                        <button class="btn btn-primary-custom border border-dark btn-block btn-sm" (click)="getMedia(lastFilter)">
                                                        Search
                                                      </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <button type="button" class="btn btn-primary-custom border border-dark float-right" routerLink="form">New Media File</button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-sm-8"></div>
    <div class="col-sm-4">

    </div>

</div>
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active pointer" [class.active]="activeTab ==='Active'" (click)="changeTab('Active')">Active Files</a>
    </li>
    <li class="nav-item">
        <a class="nav-link pointer" [class.active]="activeTab ==='InActive'" (click)="changeTab('InActive')">Inactive Files</a>
    </li>
</ul>

<div class="row" style="margin-top:10px;">
    <audio controls id="audio_el" [hidden]="true">
                <source id="audio_el_source" src="">
              </audio>
    <div class="col">
        <div class="card">
            <div class="table-responsive-sm">
                <table class="table  table-hover">
                    <thead class="thead-light">
                        <tr>
                            <th>#</th>
                            <th>Code</th>
                            <th>Title</th>
                            <th>Language</th>
                            <th>Type</th>
                            <th>Length</th>
                            <th>Date Uploaded</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let x of records$ | async; let i = index" scope="row">
                            <td>{{i + 1}}</td>
                            <td>{{x.code}}</td>
                            <td>{{x.title}}</td>
                            <td>{{x.language}}</td>
                            <td><span class="badge" [class.badge-primary]="x.type === 'Message'" [class.badge-secondary]="x.type === 'Survey'" style="font-size: inherit">{{x.type}}</span></td>
                            <td>{{x.length}}</td>
                            <td>{{x.createdAt | date:'mediumDate'}}</td>
                            <td>
                                <button type="button" class="btn pointer" style="border: #e9ecef 1px solid;background-color: inherit;"><i class="fa fa-play-circle-o fa-lg" style="color: #83878a;" (click)="play(x)" *ngIf="x.showPlay"></i><i class="fa fa-stop fa-lg" style="color: #83878a;" (click)="stop(x)" *ngIf="x.showStop"></i></button>
                                <button type="button" class="btn pointer" (click)="open(x.id)" style="border: #e9ecef 1px solid;background-color: inherit;"><i class="fa fa-eye fa-lg"  style="color: #83878a;"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>